:root {
    --bg1: #f1faee;
    --bg2: #1d3557;
    --red: #e63946;
    --yd: #fb8500;
    --blue: #457b9d;
    --lblue: #a8dadc;
}

* {
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    margin:0;
}

.hl-text {
    color:var(--red);
}

/* ANIMATION ON SCROLL */
.hidden {
    opacity:0;
    transition: all 2.5s;
    filter: blur(5px);
    transform: translateX(-100%);
}

.show {
    opacity:1;
    filter:blur(0);
    transform: translateX(0)
}

/* .hiddenImg {
    opacity:0;
    transition: all 2s;
    filter: blur(10px);
}
.showImg {
    opacity:1;
    filter:blur(0);
} */


/* LAYOUT */

section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-height: 70vh; */
    padding: 10px 10vw;
}

section:nth-of-type(even) {
    background: var(--bg2);
    color: var(--bg1)
}

section:nth-of-type(odd) {
    background: var(--bg1);
    color: black;
}

.border {
    aspect-ratio: 960/120;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('./images/wrb.svg');
}
.layer2 {
    background-image: url('./images/brw.svg')
}

.section-title {
    font-size: 3rem;
}

.under-construction {
    max-width: 30vw;
    max-height: 30vw;
}
/* NAVBAR */

.nav-bar {
    position: fixed;
    z-index: 99;
    top: 0;
    left:0;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* align-self: center; */
}
.nav-menu {
    display: none;
    justify-content: flex-end;
    transition: 1.6s;
}

.nav-menu a {
    color: var(--red);
    text-decoration: none;
    transition: 0.4s;
    margin: 0 20px;
    font-weight: bold;
}

.nav-menu a:hover {
    color: var(--bg2);
}

.nav-menu a:hover {
    content: '&lt';
    color: var(--bg2);
}

.nav-menu.is-active {
    background-color: var(--bg1);
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin-right: 10vw;
    padding-top: 5px;
    border-radius: 6px;
}

.nav-menu a i {
    display: none;
}

.hamburger {
    display: block;
    position: relative;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background-color: var(--bg1);
    opacity: 0.8;
}

.hamburger span {
    display: block;
    width: 24px;
    height: 4px;
    margin: 5px;
    position: relative;
    background-color: var(--bg2);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
    transform: translateX(5px);
    background-color: var(--red);
}

.hamburger.is-active span:nth-child(1) {
    transform: translate(5px) rotate(45deg);
    background-color: var(--red);
}
.hamburger.is-active span:nth-child(2) {
    opacity: 0;
    /* transform: translateX(15px); */
}
.hamburger.is-active span:nth-child(3) {
    transform: translate(2px, -1px) rotate(-45deg);
    background-color: var(--red);
}

.hamburger.is-active:hover span {
    background-color: var(--bg2);
}



/* HOME */

#avatar {
    max-width: 300px;
    max-height: 300px;
}

.wrapper {
    display: grid;
    place-items: center;
  }
  
  .typing {
    margin-top: 40px;
    width: 31ch;
    animation: typing 2s steps(31), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow:hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
  }


  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  #home p {
    margin: 80px auto;
    max-width: 40vw;
    text-align: justify;
    font-size: 1.2rem;
  }
/* STACK */
#stack {
    padding-top: 30px;
}

.img-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}
.stack-img {
    aspect-ratio: 1/1;
    max-width: 10vw;
    max-height: 10vw;
}


.stack-item {
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 15vw;
}

.logo:nth-child(2) {
    transition-delay: 300ms;
}
.logo:nth-child(3) {
    transition-delay: 600ms;
}
.logo:nth-child(4) {
    transition-delay: 900ms;
}
 /* PROJECTS */
 #projects {
    padding-top: 40px;
 }
 /* EXPERIENCE */

 /* CONTACT */
#contact {
    max-height: 60vh;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contact-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: 0 auto;
    max-width: 30vw;
 }

 .contact-icon {
    color: var(--red);
    font-size: 4rem;
    margin: 4vw 4vw 1px 4vw;
    transition: 1.2s;

 }

.contact-icon:hover {
    transform: rotateY(360deg);
 }

.contact-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    padding-bottom: 20px;
 }

/* 
 .link-text:hover p {
    text-decoration: underline;
 } */
.link-text {
    font-weight: bold;
    /* position: relative;
    transition: all 0.2s ease-out; */
    text-decoration: none;
    color: black;
    display: inline-block;
}
/* .link-text::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 100%;
    height: 2px;
    background-color: var(--red);
    transition: right .3s ease-out;
}

.link-text:hover::before {
    right:0;
} */

.link-text:hover{
    color: var(--red)
}


/* MEDIA QUERIES */

@media (max-width: 800px) {
    .under-construction {
        max-width: 60vw;
        max-height: 60vw;
    }

    .typing {
        font-size: 1.5em;
    }

    #home p {
        max-width: 80vw;
    }

    .stack-img {
        max-width: 20vw;
        max-height: 20vw;
    }

    #stack {
        padding-top: 30px;
        padding-bottom: 70px;
    }

    .stack-item {
        width: 14vw;
        font-size: 0.75em;
    }
    
    #stack h1 {
        font-size:2.5rem;
    }
    #projects h1 {
        font-size: 2.5rem;
    }
    #experience h1 {
        font-size: 1.6rem;
     }
    
    #contact {
        max-height: 30vh;
        min-height: 15vh;
    }
    #contact h1 {
        font-size: 2rem;
    }

    .contact-icon {
        font-size: 2.8rem;
    }

    .link-text{
        display: none;
    }

    .nav-menu.is-active {
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: no-wrap;
        width: 72vw;
    }
    .nav-menu a {
        font-size: 1.2rem;
        margin-bottom: 10px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .nav-menu a i {
        display: block;
    }

    .nav-menu a p {
        display: none;
    }

    /* .nav-menu.is-active {
        width: ;
    } */
  }

  @media (max-width: 400px) {
    .stack-item {
        width: 12vw;
        font-size: 0.75em;
    }
  }

  @media (max-width: 280px) {
    #home p {
        font-size: 0.8rem;
    }
    .stack-item {
        width: 6vw;
        font-size: 0.75em;
        margin-right: 24px;
        margin-left: 24px;
        font-size: 0.65em;
    }

    .typing {
        font-size: 1.1em;
    }
    #avatar{
        max-width: 80vw;
    }

    #stack h1 {
        font-size: 1.8rem;
    }
    #projects h1, #contact h1 {
        font-size: 2rem;
    }
    #experience h1 {
        font-size: 1.3rem;
     }

     .nav-menu.is-active {
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: no-wrap;
        width: 70vw;
        margin-right: 20px;

    }
    .nav-menu a {
        font-size: 0.8rem;
        margin-bottom: 10px;
        margin-left: 15px;
        margin-right: 15px;
    }
  }

